{% extends "base.twig" %}

{% block content %}
    <div class="container-fluid">
        <h1>How is it Measured?</h1>

        <h2>Laravel does not add to Symfony</h2>

        <div class="alert alert-sm alert-warning mt-3 mb-4">
            <code>symfony/*</code> downloads are cleared from <code>laravel/*</code> downloads. 1 download of Laravel packages = 0 downloads of Symfony packages. <strong>See <a href="https://github.com/TomasVotruba/tomasvotruba.com/blob/88cd6f3c8ae14ec9770f38bfea6300f88089def7/src/Packagist/Purifier/InterveningPackagesPurifier.php#L17">full list of packages cleared this way</a></strong>.
        </div>

        <h2 class="mb-4" id="methodology">Methodology Notes</h2>

        <ul>
            <li><code>symfony/*</code> downloads are cleared from <code>laravel/*</code> downloads = when you download Laravel package, it will not count into Symfony download; see <a href="https://github.com/TomasVotruba/tomasvotruba.com/blob/b8d21d722639a7f299689b501835d2036582c71c/packages/FrameworkStats/src/Packagist/Purifier/InterveningPackagesPurifier.php#L19">full list of cleared packages</a></li>

        </ul>

        @todo use global variables!

            <li>
                packages with <strong>less than __TODO___ downloads daily</strong> - not relevant in this scale
            </li>
            <li>packages with <strong>history shorter than __TODO__ months</strong> - we need exactly 24 months to compute stable trend</li>
            <li>packages with <strong>year trend bigger than __TODO_ %</strong> - they're caused by new interdependency from another framework's package that is already popular</li>
        </ul>



        <h3>Special Thanks</h3>

        <p><strong>Thanks</strong> to <a href="https://github.com/jkuchar">Jan Kuchar</a> and <a href="https://github.com/garas">Edgaras Janušauskas</a> for extreme corrections. Also this
            overview would not be possible without <a href="https://packagist.org/apidoc">Packagist API</a> built by <a href="https://seld.be">Jordi Boggiano</a> and <a href="https://twitter.com/naderman">Nils Adermann</a>.
        </p>
    </div>

    {# sortable tables #}
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
{% endblock %}
