{% extends "base.twig" %}

{% block content %}
    <div class="container-fluid">
        <h1>How is it Measured?</h1>

        <h2>Does Laravel downloads add to Symfony?</h2>

        <code>Symfony</code> downloads are cleared from <code>laravel/*</code> downloads. 1 download of Laravel packages = 0 downloads of Symfony packages. <strong>See <a href="https://github.com/TomasVotruba/tomasvotruba.com/blob/88cd6f3c8ae14ec9770f38bfea6300f88089def7/src/Packagist/Purifier/InterveningPackagesPurifier.php#L17">full list of packages cleared this way</a></strong>.
        </div>

        <h2 class="mb-4" id="methodology">Methodology Notes</h2>

        <ul>
            <li><code>symfony/*</code> downloads are cleared from <code>laravel/*</code> downloads = when you download Laravel package, it will not count into Symfony download; see <a href="https://github.com/TomasVotruba/tomasvotruba.com/blob/b8d21d722639a7f299689b501835d2036582c71c/packages/FrameworkStats/src/Packagist/Purifier/InterveningPackagesPurifier.php#L19">full list of cleared packages</a></li>

        </ul>

        @todo use global variables!

            <li>
                packages with <strong>less than {{ min_downloads_limit }} downloads daily</strong> - not relevant in this scale
            </li>
            <li>
                packages with <strong>history shorter than {{ minimal_month_age }}__TODO__ months</strong> - we need {{ minimal_month_age }} months to compute stable trend
            </li>
            <li>
                packages with <strong>year trend bigger than 300 %</strong> - they're probably caused by new interdependency from same framework's package
            </li>
        </ul>
    </div>

    {# sortable tables #}
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
{% endblock %}
