/* thanks for font inspiration https://laravelshift.com/ */

body {
    font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

    color: rgba(39,58,75,.97);
    font-size: 20px;
    line-height: 1.5em;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/*!* Typography *!*/
h1, h2, h3, .headline {
    font-weight: bolder;

    font-family: sofia-pro,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

h1 {
    font-size: 4.3em;
}

h1 a, h1 a:hover, h1 a:focus, h2 a, h2 a:hover, h2 a:focus, h3 a, h3 a:hover, h3 a:focus {
    text-decoration: none;
}

h2 {
    font-size: 1.9em;
    margin: 1.7em 0 .4em;
}

h3 {
    font-size: 1.5em;
    margin: 1.2em 0 .4em;
}

h1 {
    margin: .9em 0 .6em 0;
    text-align: center;
}

.headline {
    font-size: 1.5em;
    line-height: 1.7em;
    font-weight: 400;
}

h2 {
    line-height: 1.3em;
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

hr {
    margin: 1.2em 0;
    border: 0;
    border-top: 1px solid #eeeeee;
}

p {
    margin-bottom: 1em;
}

ul {
    margin-top: 0;
    margin-bottom: .5em;
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }

    .container-fluid {
        max-width: 100%;
    }
}

.container {
    max-width: 65em;
}

@media (max-width: 1100px) {
    .container {
        max-width: 55em;
    }

    h1 {
        font-size: 4.5em;
    }
}

@media (max-width: 900px) {
    .container {
        max-width: 45em;
    }

    h1 {
        font-size: 3.5em;
    }
}

table.table td {
    line-height: 2em;
}

.text-orange {
    color: rgb(242, 141, 26);
}

a, a:active {
    color: #16bdca;
}

a:hover, a:focus {
    color: #0d7d85;
    transition: .7s;
}

#footer {
    background: #24292e;
    color: hsla(0,0%,100%,.75);
    padding-top: 1.5em;
    padding-bottom: 1em;
    line-height: 3em;
    margin-top: 10em;
}

#footer a {
    color: white;
    text-decoration: underline;
}

#footer a:hover {
    color: #DDD;
    text-decoration: none;
}

th.align-middle {
    text-transform: uppercase;
    font-weight: 400;
}