<!DOCTYPE html>
<html lang="en">
    {% include "_snippets/head.twig" %}

    <body>
        <div id="content" class="container">
            {% block content %}{% endblock %}
        </div>

        {% include "_snippets/footer.twig" %}
    </body>
</html>
